@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');

:root {
    --duration-s: 125ms;
    --duration-m: 250ms;
    --duration-l: 500ms;

    --line-height-s: 1.15;
    --line-height-m: 1.3;
    --line-height-l: 1.6;

    --font-1: 'Noto Sans', system-ui, sans-serif;
    --font-2: 'Nunito', system-ui, sans-serif;
    --font-3: 'Inter', system-ui, sans-serif;

    --font-size-xs: 0.75rem; /* 12px */
    --font-size-s: 0.875rem; /* 14px */
    --font-size-m: 1rem; /* 16px */
    --font-size-l: 1.125rem; /* 18px */
    --font-size-xl: 1.5rem; /* 20px */
    --font-size-xxl: 2.5rem; /* 40px */
    --font-size-3xl: 2.5rem; /* 32px */

    --color-bg: 255 255 255;
    --color-bg-tint: 249 246 243;
    --color-link: 0 51 238;
    --color-link-hover: 0 67 240;
    --color-text: 68 0 68;
    --color-text-muted: 153 153 153;

    --gutter: 20px;

    /**
     * Typography
     */
    --h1-font: var(--font-2);
    --h1-font-weight: 800;
    --h2-letter-spacing: -0.015em;
    --h1-line-height: var(--line-height-s);
    --h1-text-transform: none;

    --h2-font: var(--font-2);
    --h2-font-weight: 800;
    --h2-letter-spacing: -0.015em;
    --h2-line-height: var(--line-height-s);
    --h2-text-transform: none;

    --h3-font: var(--font-2);
    --h3-font-weight: 700;
    --h2-letter-spacing: -0.015em;
    --h3-line-height: var(--line-height-s);
    --h3-text-transform: none;

    --h4-font: var(--font-1);
    --h4-font-weight: 700;
    --h2-letter-spacing: 0;
    --h4-line-height: var(--line-height-l);
    --h4-text-transform: none;

    --text-alpha-high: 100%;
    --text-alpha-mid: 75%;
    --text-alpha-low: 50%;

    /**
     * Themes
     */
    --theme0-bg-color: var(--color-bg);
    --theme0-text-color: var(--color-text);    
    --theme1-bg-color: 246 240 220;
    --theme1-text-color: 68 0 68;
    --theme2-bg-color: 51 150 105;
    --theme2-text-color: 255 255 255;
    --theme3-bg-color: 76 108 185;
    --theme3-text-color: 255 255 255;
    --theme4-bg-color: 236 188 214;
    --theme4-text-color: 68 0 68;

    /**
     * Buttons
     */
    --btn-font: var(--font-1);
    --btn-font-weight: 500;
    --btn-text-transform: none;
    --btn-radius-s: 20px;
    --btn-radius-m: 24px;
    --btn-radius-l: 32px;

    --btn-bg-color: transparent;
    --btn-bg-color-hover: transparent;
    --btn-border-color: 51 150 105 / 50%;
    --btn-border-color-hover: 51 150 105 / 100%;
    --btn-border-width: 1px;
    --btn-text-color: 51 150 105;
    --btn-text-color-hover: 51 150 105;

    --btn-inverted-bg-color: 255 255 255;
    --btn-inverted-bg-color-hover: 255 255 255;
    --btn-inverted-border-color: 255 255 255 / 15%;
    --btn-inverted-border-color-hover: 255 255 255 / 25%;
    --btn-inverted-text-color: 68 0 68;
    --btn-inverted-text-color-hover: 68 0 68;

    --btn-primary-bg-color: 51 150 105;
    --btn-primary-bg-color-hover: 51 150 105;
    --btn-primary-border-color: 0 0 0;
    --btn-primary-border-color-hover: 0 0 0;
    --btn-primary-border-width: 0;
    --btn-primary-text-color: 255 255 255;
    --btn-primary-text-color-hover: 255 255 255;
    --btn-primary-text-transform: none;

    --btn-border-opacity: 15%;
    --btn-border-opacity-hover: 25%;

    --easing-func: cubic-bezier(0.66, 0, 0.33, 1);

    /**
     * Banner
     */
    --banner-height: 32px;
    --banner-bg-color: 255, 232, 138;

    /**
     * Navigation
     */
    --nav-bg-color: 255 255 255;
    --nav-border-color: 243 243 243;
    --nav-height: 56px;
    --nav-link-color: 0 0 0;
    --nav-link-color-hover: 102 102 102;
    --nav-link-font: var(--font-1);
    --nav-link-font-size: 1rem;
    --nav-link-font-weight: 500;
    --nav-link-text-transform: none;
    --nav-position: fixed;
    --nav-submenu-bg-color: 248 248 248;
    --nav-submenu-border-radius: 3px;
    --nav-submenu-width: 192px;
    --nav-submenu-link-color: 0 0 0;
    --nav-submenu-link-color-hover: 102 102 102;
    --nav-submenu-link-font: var(--font-1);
    --nav-submenu-link-font-size: 1rem;
    --nav-submenu-link-font-weight: 400;
    --nav-submenu-link-text-transform: none;

    /**
     * Cards
     */
    --card-bg-color: 246 246 246;
    --card-text-color: var(--color-text);
    --card-border-radius: 12px;
}

.u-inverted {
    --color-bg: 0 0 0;
    --color-bg-tint: 26 26 26;
    --color-link: 0 51 238;
    --color-link-hover: 0 67 240;
    --color-text: 255 255 255;
    --color-text-muted: 153 153 153;
}

@media (min-width: 1024px) {
    :root {
        --gutter: 48px;

        --nav-height: 112px;
        --nav-submenu-box-shadow: 0 0 0 1px rgb(0 0 0 / 15%);
        --nav-submenu-link-color: 0 0 0;
        --nav-submenu-link-color-hover: 0 0 0;
    }
}

/**
 * Overrides
 */

.block {
    -webkit-mask-image: url('/assets/img/client/block-mask.svg'), linear-gradient(transparent 16px, #000 16px, #000);
    -webkit-mask-repeat: repeat-x, none;
    -webkit-mask-size: 640px 16px, 100%;
}

.block:not(first-child) {
    margin-top: -16px;
}

.card__imageBox:not(.card__imageBox--icon) {
    -webkit-mask-image: url('/assets/img/client/card-image-mask.svg');
    -webkit-mask-position: center bottom;
    -webkit-mask-size: 100%;
}