{% extends "_layout.twig" %}

{% if entry is not defined %}
    {% set entry = craft.entries.section("pages").slug("home").one() %}
{% endif %}

{% block content %}
    <section class="ticker js-ticker">
        <div class="ticker__inner js-tickerInner">
            <div><img alt="" src="/assets/dummy/ticker-1.webp"></div>
            <div><img alt="" src="/assets/dummy/ticker-2.webp"></div>
            <div><img alt="" src="/assets/dummy/ticker-3.webp"></div>
            <div><img alt="" src="/assets/dummy/ticker-4.webp"></div>
            <div><img alt="" src="/assets/dummy/ticker-5.webp"></div>
        </div>
    </section>

    {% include "_blocks/_all" %}
{% endblock %}