.btn {
    backdrop-filter: blur(8px);
    background: rgb(var(--btn-bg-color));
    box-shadow: inset 0 0 0 var(--btn-border-width) rgb(var(--btn-border-color));
    border-radius: var(--btn-radius-m);
    appearance: none;
    color: rgb(var(--btn-text-color));
    cursor: pointer;
    display: inline-block;
    font-family: var(--btn-font);
    font-weight: var(--btn-font-weight);
    height: 48px;
    letter-spacing: var(--btn-letter-spacing);
    line-height: 20px;
    padding: 14px 32px;
    text-align: center;
    text-transform: var(--btn-text-transform);
    transition: box-shadow var(--duration-m) ease, color var(--duration-m) ease;
    user-select: none;
    white-space: nowrap;

    &:hover {
        background: rgb(var(--btn-bg-color-hover));
        box-shadow: inset 0 0 0 var(--btn-border-width) rgb(var(--btn-border-color-hover));
        color: rgb(var(--btn-text-color-hover));
    }

    &:active {
        padding-bottom: 13px;
        padding-top: 15px;
    }

    &--block {
        display: block;
        width: 100%;
    }

    &--inverted {
        --btn-bg-color: var(--btn-inverted-bg-color);
        --btn-bg-color-hover: var(--btn-inverted-bg-color-hover);
        --btn-border-color: var(--btn-inverted-border-color);
        --btn-border-color-hover: var(--btn-inverted-border-color-hover);
        --btn-border-width: var(--btn-inverted-border-width);
        --btn-text-color: var(--color-text);
        --btn-text-color-hover: var(--color-text);
    }

    &--primary {
        --btn-bg-color: var(--btn-primary-bg-color);
        --btn-bg-color-hover: var(--btn-primary-bg-color-hover);
        --btn-border-color: var(--btn-primary-border-color);
        --btn-border-color-hover: var(--btn-primary-border-color-hover);
        --btn-border-width: var(--btn-primary-border-width);
        --btn-text-color: var(--btn-primary-text-color);
        --btn-text-color-hover: var(--btn-primary-text-color-hover);

        &.btn--inverted {
            --btn-primary-bg-color: var(--btn-primary-inverted-bg-color);
            --btn-primary-bg-color-hover: var(--btn-primary-inverted-bg-color-hover);
            --btn-primary-border-color: var(--btn-primary-inverted-border-color);
            --btn-primary-border-color-hover: var(--btn-primary-inverted-border-color-hover);
            --btn-primary-border-width: var(--btn-primary-inverted-border-width);
            --btn-primary-text-color: var(--color-bg);
            --btn-primary-text-color-hover: var(--color-bg);
        }
    }

    &--small {
        border-radius: var(--btn-radius-s);
        height: 40px;
        padding: 9px 20px;
    }
}
