.languageSwitch {
    align-items: center;
    border: 1px solid rgb(var(--link-color) / 25%);
    border-radius: var(--btn-radius-m);
    color: rgb(var(--link-color));
    cursor: pointer;
    display: flex;
    gap: 8px;
    height: 48px;
    padding: 0 20px 0 12px;
    position: relative;
    transition: border-color 0.5s ease;

    &::before {
        --mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="m10,20c-1.4,0-2.70833-.2625-3.925-.7875s-2.275-1.2375-3.175-2.1375-1.60833-1.9625-2.125-3.1875c-.51667-1.225-.775-2.5375-.775-3.9375s.25833-2.70417.775-3.9125c.51667-1.20833,1.225-2.2625,2.125-3.1625s1.95833-1.60417,3.175-2.1125,2.525-.7625,3.925-.7625,2.70833.25417,3.925.7625,2.275,1.2125,3.175,2.1125,1.60833,1.95417,2.125,3.1625.775,2.5125.775,3.9125-.25833,2.7125-.775,3.9375-1.225,2.2875-2.125,3.1875-1.95833,1.6125-3.175,2.1375-2.525.7875-3.925.7875Zm0-1.45c.58333-.6,1.07083-1.2875,1.4625-2.0625s.7125-1.69583.9625-2.7625h-4.825c.23333,1,.54583,1.9.9375,2.7s.87917,1.50833,1.4625,2.125Zm-2.125-.3c-.41667-.63333-.775-1.31667-1.075-2.05-.3-.73333-.55-1.55833-.75-2.475h-3.75c.63333,1.18333,1.36667,2.1125,2.2,2.7875.83333.675,1.95833,1.25417,3.375,1.7375Zm4.275-.025c1.2-.38333,2.27917-.95833,3.2375-1.725s1.72917-1.69167,2.3125-2.775h-3.725c-.21667.9-.47083,1.71667-.7625,2.45-.29167.73333-.64583,1.41667-1.0625,2.05ZM1.8,12.225h3.975c-.05-.45-.07917-.85417-.0875-1.2125s-.0125-.7125-.0125-1.0625c0-.41667.00833-.7875.025-1.1125s.05-.6875.1-1.0875H1.8c-.11667.4-.19583.75833-.2375,1.075s-.0625.69167-.0625,1.125.02083.82083.0625,1.1625.12083.7125.2375,1.1125Zm5.525,0h5.375c.06667-.51667.10833-.9375.125-1.2625s.025-.6625.025-1.0125c0-.33333-.00833-.65417-.025-.9625-.01667-.30833-.05833-.72083-.125-1.2375h-5.375c-.06667.51667-.10833.92917-.125,1.2375-.01667.30833-.025.62917-.025.9625,0,.35.00833.6875.025,1.0125s.05833.74583.125,1.2625Zm6.875,0h4c.11667-.4.19583-.77083.2375-1.1125s.0625-.72917.0625-1.1625-.02083-.80833-.0625-1.125-.12083-.675-.2375-1.075h-3.975c.05.58333.08333,1.02917.1,1.3375.01667.30833.025.59583.025.8625,0,.36667-.0125.7125-.0375,1.0375s-.0625.7375-.1125,1.2375Zm-.25-5.975h3.75c-.55-1.15-1.30417-2.10833-2.2625-2.875s-2.0625-1.30833-3.3125-1.625c.41667.61667.77083,1.28333,1.0625,2s.54583,1.55.7625,2.5Zm-6.35,0h4.85c-.18333-.88333-.49167-1.7375-.925-2.5625s-.94167-1.55417-1.525-2.1875c-.53333.45-.98333,1.04167-1.35,1.775s-.71667,1.725-1.05,2.975Zm-5.3,0h3.775c.18333-.9.41667-1.70417.7-2.4125s.64167-1.39583,1.075-2.0625c-1.25.31667-2.34167.85-3.275,1.6-.93333.75-1.69167,1.70833-2.275,2.875Z"/></svg>');
        background-color: currentColor;
        content: '';
        display: block;
        height: 24px;
        -webkit-mask-image: var(--mask-image);
        -webkit-mask-size: 24px;
        mask-image: var(--mask-image);
        mask-size: 24px;
        width: 24px;
    }

    &::after {
        --mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polyline points="14 5 8 11 2 5" fill="none" stroke="%23000" stroke-miterlimit="10" stroke-width="1"/></svg>');
        background-color: currentColor;
        content: '';
        height: 16px;
        -webkit-mask-image: var(--mask-image);
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 16px;
        mask-image: var(--mask-image);
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 16px;
        pointer-events: none;
        position: absolute;
        right: 20px;
        top: calc(50% - 8px);
        width: 16px;
    }

    &:focus-within,
    &:hover {
        border-color: rgb(var(--link-color-hover) / 50%);
    }

    &--center {
        padding-right: 44px;
        text-align: center;
    }

    &--short {
        border-color: rgb(var(--link-color) / 0%);

        &::after {
            display: none;
        }
    }

    &__current {
        font-weight: var(--nav-link-font-weight);
        flex: 1;

        .languageSwitch--short & {
            font-size: var(--font-size-s);
            text-transform: uppercase;
        }
    }

    select {
        cursor: pointer;
        inset: 0;
        opacity: 0;
        position: absolute;
    }
}
