.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @include screen-max(l) {
        // padding-top: var(--nav-height);
    }

    .is-transparentNav & {
        margin-top: calc(var(--nav-height) * -1);
    }

    &__main {
        flex: 1;
    }
}
