.u-inverted {
    background-color: rgb(var(--bg-color));
    color: rgb(var(--text-color));
}

@for $i from 0 through 5 {
    .u-theme#{$i} {
        background-color: rgb(var(--bg-color));
        color: rgb(var(--text-color));
    }
}
