@keyframes headerReveal {
    from {
        opacity: 0;
        transform: translate3d(0, 1.5rem, 0);
    }
}

.header {
    align-items: center;
    display: flex;
    min-height: calc(var(--header-height) - var(--nav-height-actual));
    padding: var(--block-padding) 0;
    position: relative;
    text-align: center;

    &.u-transparent {
        --color-bg: 0 0 0;
        --color-text: 255 255 255;
        background: rgb(var(--color-bg));
    }

    &__backdrop {
        height: 100%;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        inset: 0;
        width: 100%;

        img,
        video {
            bottom: 0;
            height: 125%;
            left: 0;
            transform: translate3d(0, calc(20% * var(--equinox-pos)), 0);
            object-fit: cover;
            object-position: center;
            position: absolute;
            width: 100%;
        }
    }

    &__inner {
        position: relative;
        z-index: 2;
    }

    &__heading {
        color: rgb(var(--color-text));
    }

    &__intro {
        animation: headerReveal 1s 500ms ease-out both;
        color: rgb(var(--color-text) / var(--text-alpha-mid));
        font-size: var(--font-size-xl);
        margin-top: 0.25em;
    }

    &__ctas {
        text-align: center;
    }

    .ctas {
        animation: headerReveal 1s 1s ease-out both;
    }
}
