.person {
    &__photo {
        aspect-ratio: 3/4;
        border-radius: var(--card-border-radius);
    }

    &__text {
        padding-top: 1rem;
    }

    &__role,
    &__company {
        --color: rgb(var(--color-text) / var(--text-alpha-mid));
        color: var(--color);
        line-height: var(--line-height-l);

        @include screen-max(l) {
            font-size: var(--font-size-s);
        }

        a {
            color: var(--color);

            &:hover {
                color: var(--color);
                text-decoration: underline;
            }
        }

        &:empty {
            display: none;
        }
    }
}
