{% set theme = block.theme.one() %}
<section class="text block u-{{ theme ? theme.slug : "theme0" }}">
    <div class="wrapper wrapper--narrow">
        <header class="block__header block__header--center">
            <h5 class="block__eyebrow">{{ block.eyebrow }}</h5>
            <h2 class="block__heading">{{ block.heading }}</h2>
        </header>
        <div class="text__body richText">
            {{ block.text|replace("<img", "<img loading=\"lazy\"")|raw }}
        </div>
        {% include "_partials/ctas" with {
            center: true,
            ctas: block.ctas,
            fullWidth: true,
            ga_event: "text_cta_click",
        } %}
    </div>
</section>